html, body {
    height: 100%;
    width: 100%;
}

h1 {
    margin: 30px;
    margin-top: 10px;
    font-size: 60px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: blanchedalmond;
}

.frame {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridSquare {
    background-color: white;
    border: 1px solid;
    height: 30px;
    width: 30px;
}

:root {
    --newNumberOfSquaresCss: 16;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--newNumberOfSquaresCss), 0fr);
    grid-template-rows: repeat(var(--newNumberOfSquaresCss), 0fr);
    height: auto;
    width: auto;
    box-shadow: 5px 5px 3px;
    margin: 50px;
}

.headButtonContainer {
    display: flex;
    gap: 30px;
}

.headButtonContainer button {
    background-color: white;
    border: 3px solid;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}